.search-container {
  display: flex;
  flex-direction: column;
}

.search-header {
  display: flex;
  place-items: center;
  margin: 10px 0;
}

.search-header > button {
  position: absolute;
}

.search-results-text {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 0 15px;
}

.search-results-text > p {
  font-size: 16px;
  margin: 0;
}

.search-results-text > h3 {
  font-size: 33px;
  margin: 0;
  line-height: 0.8;
  word-wrap: break-word;
}