.album-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: #e28fdb;
  text-align: start;
}

.album-cover-and-header {
  display: flex;
  flex-direction: column;
  background-color: #e28fdb;
  color: black;
  padding: 1rem;
}

.album-cover-and-header * {
  margin: 0;
  line-height: 1.2;
}

.album-cover {
  margin: auto;
}

.album-header {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.album-header > h1 {
  font-size: 26px;
  line-height: .8;
  font-family: pixel-op-bold;
}

.album-header > h3 {
  margin-top: .2rem;
  font-size: 18px;
}

.album-tracklist {
  display: flex;
  flex-direction: column;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  padding-right: 1rem;
}



/*
.album-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  text-align: start;
  line-height: 1;
}

.album-header {
  margin: .4rem 0 1rem;
  width: 200px;
}

.album-container h1 {
  font-family: pixel-op-bold;
  font-size: 23px;
  line-height: 1;
  margin: 0;
}

.album-container h3 {
  margin: .1rem 0 0;
}


.album-container p {
  margin: 0;
}

.album-container ol {
  width: 304px;
  margin: 0;
  color: #e28fdb;
  background-color: black;
  list-style-position: inside;
  font-size: 15px;
  padding: 1rem 2rem;
  line-height: 1.6;
}

.album-container img {
  width: 200px;
}