.collection-header {
  display: flex;
  align-items: center;
}

.collection-header > header {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.collection-header > button {
  position: absolute;
}