.profile-header {
  display: flex;
  align-items: center;
}

.profile-header > header {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.profile-header > button {
  position: absolute;
}

.profile-container {
  display: flex;
  justify-content: center;
}

.profile-icon-and-username {
  display: flex;
  flex-direction: column;
}

.profile-icon-and-username > h2 {
  margin: 0;
}