.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 0 10px 1rem; /* 1rem = top bar height */
}

.login-container > h3 {
  font-size: 25px;
  margin: 5px 0;
  padding-left: 2px;
}

.input-and-btn > input::placeholder {
  padding-left: .2rem;
}

.input-and-btn > button {
  border: none;
  color: black;
  background: none;
  font-size: 20px;
}
