.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 10px;
}

h3 {
  display: flex;
  font-family: pixel-op-bold;
  font-size: 25px;
  margin: 0;
  padding-left: 2px;
  justify-self: flex-start;
}

.input-and-btn {
  border: 2px solid black;
  padding: 0 5px;
}

input:focus {
  outline: none;
}

input {
  font-family: pixel-op-bold;
  font-size: larger;
  color: black;
  height: 25px;
  border: none;
  background: none;
}

input::placeholder {
  font-family: pixel-op;
  font-size: larger;
  color: black;
}


