.device-shape {
  display: flex;
  overflow: hidden;
  top: 0;
  height: 35rem;
  width: 21rem;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(212, 122, 200);
  border-radius: 10%;
  justify-content: center;
  padding-top: 15px;
}