#root {
  display: flex;
  margin: auto;
  text-align: center;
}

header {
  font-size: 21px;
  padding: 10px 0;
}

button {
  background: none;
  border: none;
  color: black;
  font-size: 20px;
}

form:has(> input) {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  margin: 0 10px;
}

input {
  display: flex;
  flex-grow: 1;
  padding-left: 5px;
  font-family: pixel-op-bold;
  font-size: larger;
  color: black;
  height: 25px;
  border: none;
  background: none;
}

input::placeholder {
  font-size: 15px;
  font-family: pixel-op;
  color: black;
}

input:focus {
  outline: none;
}