.homepage-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 0 10px 1rem;
}

.greetings-and-search-bar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin-bottom: 1rem;
}

.greetings {
  display: flex;
  text-align: start;
  padding-left: 10px;
}

.greetings > h3 {
  line-height: 1.2;
  font-size: 35px;
}

form > input {
  padding: 5px 1px;
}

form > input::placeholder {
  font-size: 13.5px;
}

.buttons-menu {
  display: flex;
  justify-content: space-around;
}
